<head>

    <meta charset="utf-8">

    <link rel="icon"  sizes="any" type="image/svg+xml" href="/imgs/icon.svg">
    <!-- theme start -->
    <link rel="stylesheet" href='<%- theme.cdn.url %><%- url_for("css/theme/color.variables.css") %>'' >
    <link id="themeStyleVar" rel="stylesheet" href=<%- theme.cdn.url %><%- url_for('css/theme/default.variables.css') %> >
    <script>
        const localStorageTheme = localStorage.getItem('theme');
        function loadTheme(){
            let themeLink = document.getElementById('themeStyleVar');
            if(localStorageTheme){
                themeLink.href = themeLink.href.replace(/\/css\/theme.*/,`/css/theme/${localStorageTheme}.variables.css`)
            }
        }
        if(localStorage){
            loadTheme()
            setTimeout(()=>{
                if(document.body){
                    document.body.className = localStorageTheme ? localStorageTheme : 'dark'
                }

            },2)
        }
    </script>


    <!-- theme end -->

    <!-- common reset... -->
    <link rel="stylesheet" href=<%- theme.cdn.url %><%- url_for('css/index.css') %> >
    
    <!-- home -->
    <% if (is_home() || is_category()) { %>
        <link rel="stylesheet" href=<%- theme.cdn.url %><%- url_for('css/home.css') %> >
    <% } %>
    <!-- post -->
    <% if (is_post()) { %>
    <link rel="stylesheet" href=<%- theme.cdn.url %><%- url_for('css/post.css') %> >
    <% } %>
    <!-- about -->
    <% if (is_current('/about')) { %>
    <link rel="stylesheet" href='<%- theme.cdn.url %><%- url_for('/css/about.css') %>' >
    <% } %>
    <!-- resume -->
    <% if (is_current('/resume')) { %>
    <link rel="stylesheet" href='<%- theme.cdn.url %><%- url_for('/css/about.css') %>' >
    <link rel="stylesheet" href='<%- theme.cdn.url %><%- url_for('/css/resume.css') %>' >
    <% } %>

    <title><%= config.title %> </title>

    <meta name="description" content=<%= config.description %> >

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script async>
        console.log(`%c真巧，你打开了devtool`,"color:#b58900")
        console.log(`%c真巧，你看了我的文章`,"color:#859900")
        console.log('%c简单介绍，道法自然，做人要顺其自然，不要有太多欲望',"color:#268bd2")
        console.log('%c不要目的性太强,这就是我的主题想强调的',"color:#dc322f")
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RFGTVED02M"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RFGTVED02M');
    </script>
    <!-- 百度分析 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ce46d6101f33ba04b74fbe8bbe509590";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- post module request -->
    <% if (is_post()) { %>
        <script>
            const moduleMap = new Map();
            var define = (moduleName, module) => { moduleMap.set(moduleName, module) };
            var require = (moduleName) => moduleMap.get(moduleName);
        </script>
        <% } %>
</head>