
<% if (site.posts && site.posts.length > 0) { %>
    <div class="statis">
        <span class="count"><a href="<%- url_for('/') %>"><%- site.posts.length %></a></span>
        <span class="name">文章</span>
    </div>
    <% } %>
    
    <% if (site.categories && site.categories.length > 0) { %>
    <div class="statis">
        <span class="count"><a href="<%- url_for('/categories') %>"><%- site.categories.length %></a></span>
        <span class="name">分类</span>
    </div>
    <% } %>
    
    <% if (site.tags && site.tags.length > 0) { %>
    <div class="statis">
        <span class="count"><a href="<%- url_for('/tags') %>"><%- site.tags.length %></a></span>
        <span class="name">标签</span>
    </div>
    <% } %>
